@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
html {
    scroll-behavior: smooth;
}
.header-title {
    font-weight: 700;
}

@media screen and (min-width: 1400px) {
    h1.header-title {
        font-size: 9em;
    }
}

@media screen and (max-width: 1024px) {
    h1.header-title {
        font-size: 4em;
    }
}

@media screen and (max-width: 600px) {
    h1.header-title {
        font-size: 3em;
    }
}

.content {
    position: relative;
}

.owl-theme .custom-nav {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.owl-theme .custom-nav .owl-prev, .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    background: none !important;
    border: none;
    z-index: 100;
}

.owl-theme .custom-nav .owl-prev i, .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, .9);
}

.owl-theme .custom-nav .owl-prev {
    left: 0;
}

.owl-theme .custom-nav .owl-next {
    right: 0;
}

.holder {
    overflow: hidden;
    transform: scale(.6);
}

.me-img {
    transform: scale(1.2);
}

h2 {
    font-weight: 600
}

model-viewer {
    height: 25em;
}

.card-background {
    background: linear-gradient(0deg, rgba(231,229,229,1) 0%, rgba(197,197,198,1) 48%, rgba(245,245,245,1) 100%);
}
.card-background {
    object-fit: fill;
    overflow: hidden;
}

img.card-img-top {
    width: 548px;
    height: 400px;
    object-fit: cover;
}

.resume-header hr {
    margin-left: auto;
    margin-right: auto;
    height: .5rem;
    background-color:#000;
    opacity: 1;
}

.resume-heading {
    font-weight: 700;
}

.date {
    text-align: right;
}

.subheading {
    font-weight: 600;
}

ul.date {
    list-style: none;
}

.col-3-dates .col-3 {
    text-align: right;
}

.blue {
    background-size: cover;
    background-color: #2196f3 !important;
}
